<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>    
  </head>

  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="commands">
        <a  data-remote="Sony_RM-862.1" data-command="tv_off" data-count="2"><img src="/images/off.png"/></a>
        <a  data-remote="Sony_RM-862.1" data-command="1" data-count="2"><img src="/images/ontv.png"/></a>
        <br/>
        <a  data-remote="Sony_RM-862.1" data-command="volume-" data-count="5"><img src="/images/down_volume.png"/></a>
        <a  data-remote="Sony_RM-862.1" data-command="volume+" data-count="5"><img src="/images/up_volume.png"/></a>
    </div>


    <script>
        $("div.commands").on("click", "a", function(e){
            var remote = $(this).attr('data-remote'),
                command = $(this).attr('data-command'),
                count = $(this).attr('data-count');



            $.get( '/send_once/'+remote+'/'+command+'/'+count, function(data) {
              //$('.result').html(data);
              //alert('Load was performed.');
            });
        });
    </script>

  </body>
</html>