<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <script src="angular/angular.js"></script>
    <script src="angular/angular-resource.js"></script> 
    <script>
    
 	angular.module('app', ['ngResource']);

        function CatalogueCtrl($scope, $location, $resource) {

	var Button = $resource('/button/:buttonId', {buttonId:'@id'});
	var Remote = $resource('/remote/:buttonId', {buttonId:'@id'});
            
            var reset = function () {
		$scope.newButt =   { 
		    label: '',
		    sequence: [],
		    icon: 'images/four-hd.png'
		}
	}
	reset();
		    
            $scope.addCmd = function (cmd) {
                console.log ('adding ' + cmd);
                $scope.newButt.sequence.push (cmd);
            }
            
            $scope.save = function() {
                console.log ('saving name: ' + $scope.newButt.label);
		new Button({'button': $scope.newButt}).$save();
                $scope.buttons.push($scope.newButt);
	        reset();
                $("#myModal").modal('hide');
            }

	$scope.sendCmd = function (seq) {
		console.log ('sending : ' + seq);
	    $.post( '/send_once', {'command': seq}, function(data) {
	    });
	}

            $scope.remotes = Remote.query (function(data) { console.log ('gotit ' + JSON.stringify(data));});
            $scope.buttons = Button.query(function() { console.log ('gotit');});
        }

        
        
    </script>
  </head>

  <body ng-app="app"  ng-controller="CatalogueCtrl">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">TV Remote</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Lounge</a></li>
              <li><a href="#about">Study</a></li>
              <li><a href="#contact">Kitchen</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container">

        <div class="row commands" >
        <lu class="thumbnails">
            <li class="span3" ng-repeat="b in buttons">
                <a  class="thumbnail" ng-click="sendCmd (b.sequence)" >
                    <img src="{{b.icon}}"/>{{b.label}}
                </a>
            </li>
            <li class="span3" >
                <a  class="thumbnail" href="#myModal" role="button" data-toggle="modal" >
                    <img src=""/>new..
                </a>
            </li>
        </lu>
    </div>


    <script src="jquery/jquery1.9.1.js"></script> 
    <script src="bootstrap/js/bootstrap.min.js"></script>
    


    <!-- Modal -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <form ng-submit="save()">
      
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Define new Button</h3>
        </div>
        
        <div class="modal-body">
    
            <label class="control-label" for="inputName">Label</label>
            <div class="control-group" ng-class="{error: Regform.username.$invalid}">
                <div class="input-control text">
                  <input type="text" ng-model="newButt.label" ng-minlength="1"
                   ng-maxlength="20" name="name" placeholder="name" required>
                </div>
            </div>

            <div class="accordion" id="acc1">

									<div class="accordion-group" ng-repeat="(device, cmds) in remotes[0]">
										<div class="accordion-heading">
											<a class="accordion-toggle" data-toggle="collapse" data-parent="#acc1" href="#collapse{{$index}}">
												 {{device}}
											</a>
										</div>
										<div id="collapse{{$index}}" class="accordion-body collapse in">
											<div class="accordion-inner">
												   <lu  style="margin-left:0;" class="thumbnails">
														<li style="margin-left:0;" ng-repeat="(key, c) in cmds">
																<a class="btn"  ng-click="addCmd (key)">{{key}}</a>
														</li>
												   </lu>
											</div>
										</div>
									</div>

							
            </div>
            
            <div class="row" style="margin-left: 5px;">
                <lu class="thumbnails">
                    <li  ng-repeat="s in newButt.sequence" style="margin-left: 5px;">
                        <span style="padding: 5px;" class="label label-success" >{{s}}</a>
                    </li>
                </lu>
            </div>
            
        </div>
        
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary" type="submit">Save changes</button>
        </div>
      </form>
    </div>

  </body>
</html>
